
node_modules/
dist/
.DS_Store
*.local

__pycache__/
backend/__pycache__/
backend/services/__pycache__/
.venv/
venv/
ENV/
env/

backend/.env
backend/firebase-key.json
backend/karbon.dbvenv/
.pytest_cache/
backend/karbon.db
